.Popular-card {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.Popular-card > * {
  flex: 0 0 auto;
  margin-right: 16px;
}

.Popular-card > :last-child {
  margin-right: 0;
}
