/* Popular.css */
/*
.App {
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 400px;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #eee8e8;
    border-radius: 30px;
    overflow: hidden;
  }
  
  
  .card img {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    object-fit: cover;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    width: 80%;
    height: 80%;
    background: white;
    padding: 20px;
    position: relative;
  }
  
  .popup img {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  */



  .card-container-wrapper {
    overflow-x: scroll;
    width: 100%;
  }

.card-container {
  white-space: nowrap;
  font-size: 0;
  height: 300px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card {
  width: calc(15% - 1rem);
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  background-color: beige;
  border-radius: 30px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .card-container-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
  }